@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
:root{
    --form-height: max(70%, 70vh);
    --form-width: max(60%, 350px);
}
.image{
    height: var(--form-height);
    width: var(--form-width);
    border-radius: 40px 0 0 40px;
    /* background: linear-gradient(to left, white, 80%, transparent), url(pavel-untilov-gYDgUS0bNHc-unsplash.jpg); */
    background: linear-gradient(to right, transparent, white), url(pavel-untilov-gYDgUS0bNHc-unsplash.jpg);
    -webkit-box-shadow: 0px 5px 10px 2px white;
    -moz-box-shadow: 0px 5px 10px 2px white;
    box-shadow: 0px 5px 10px 2px white;
}
body{
    background: url(jj-ying-7JX0-bfiuxQ-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input, label {
    display: block;
}
button{
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: .6rem;
    background: #596D48;
    border: none;
    margin: 1rem;
    margin-top: 4rem;
    margin-bottom: .6rem;
}
button:hover{
    transition: .2s linear;
    transform: scale(1.1);
    /* outline: 3px solid white; */
}
form{
    display: flex;
    flex-direction: row;
    height: var(--form-height);
    width: var(--form-width);
}
.form-container{
    color: #0B0C11;
    font-family: 'Bellota', cursive;
    font-size: 1.2rem;
    border-radius: 0 40px 40px 0;
    background-color: white;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 5px 10px 2px white;
    -moz-box-shadow: 0px 5px 10px 2px white;
    box-shadow: 0px 5px 10px 2px white;
}
.form-header{
    /* font-family: 'Gamja Flower', cursive; */
    font-size: 2rem;
    /* font-family: 'Roboto Slab', serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(var(--form-height) / 5);
}
.form-main{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    height: calc(var(--form-height) / 2);
}
.form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(var(--form-height) * 0.3);
}
.form-itself{
    display: flex;
    flex-direction: column;
}
.first-row, .second-row, .third-row{
    display: table-row;
    /* justify-content: space-between; */
    flex-direction: row;
}
input[type="text"]:user-invalid, input[type="email"]:user-invalid, input[type="password"]:user-invalid, input[type="tel"]:user-invalid {
    /* box-shadow: 10px 5px 5px red; */
    -webkit-box-shadow: 0px 0px 5px 1px red;
    -moz-box-shadow: 0px 0px 5px 1px red;
    box-shadow: 0px 0px 5px 1px red; 
    /* border: none; */
    /* background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px 20px; */
}
/* input:valid{
    outline: 3px solid lightgreen;
} */
input:focus{
    outline: 1px solid #596D48;
}
input:valid{
    outline: none;
    /* box-shadow: 5px 5px 5px green; */
    -webkit-box-shadow: 0px 0px 10px 1px lightgreen;
    -moz-box-shadow: 0px 0px 10px 1px lightgreen;
    box-shadow: 0px 0px 10px 1px lightgreen; 
}
input{
    /* width: var(--form-width); */
    /* width: max(30%, 20vw); */
    width: 15vw;
    padding: .6rem;
    outline: 1px solid #E5E7EB;
    border: none;
    border-radius: .5rem;
    margin: 2px;
}
a{
    /* text-decoration: none; */
    color: #596D48;
}
@media screen and (max-width: 850px) {
    form {
        --form-height: 0;
        position: absolute;
        /* top: calc(var(--form-height) / 10); */
        top: 5vh;
        flex-direction: column;
        height: 80vh;
        /* width: 0; */
    }
    button{
        margin-top: -3rem;
        margin-bottom: 1rem;
    }
    img{
        border-radius: 40px 40px 0 0;
        height: 0;
        width: 0;
    }
    .image{
        border-radius: 40px 40px 0 0;
        background: linear-gradient(to bottom, transparent, 90%, grey), url(clarisse-meyer-VV2_XVEjg5w-unsplash.jpg);
    }
    .form-header{
        width: 69vw;
        padding: 2rem;
        font-size: 1.4rem;
    }
    .form-container{
        border-radius: 40px;
        height: 75vh;
        width: auto;
    }
    .form-main{
        /* background: #00A8CC; */
        border-radius: 0 0 40px 40px;
        height: 50vh;
        width: auto;
        margin: auto;
    }
    .form-itself{
        margin-bottom: 0;
    }
    input{
        width: 50vw;
        padding: .6rem;
        border: none;
        border-radius: .5rem;
        margin: 2px;
    }
    .form-footer{
        display: flex;
        justify-content: center;
        margin-top: 0rem;
    }
    .form-footer > p{
        margin-top: 1rem;
    }
}